.projects-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 20px 0;
}

.column {
  width: 48%; /* 48% para dar espacio entre las columnas */
  padding: 10px;
  box-sizing: border-box;
}

.card {
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
}

.card::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 40px;
  height: 8px;
  background-color: #007bff; /* Color de la barra del folder */
  border-radius: 4px;
}

h2 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

p {
  font-size: 1rem;
  color: #333;
}
