.events-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
}

.events-table {
  width: 100%;
  border-collapse: collapse;
  
}

.date {
  font-weight: bold;
  margin-bottom: 8px;
}

.event-cell{
  margin: 20px;
  padding: 20px;
  display: block;
}
  
.head-table{
  display: block;
  margin: 40px;
}