@import url("https://fonts.googleapis.com/css2?family=Fira+Code&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=Montserrat:wght@500&display=swap');

*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

html {
  font-size: 62.5%;
  font-family: "Montserrat", "Fira Code", monospace;
}

